<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.oracle.OracleEduMapper">
	<select id="courseAllData" resultType="com.sist.web.vo.CourseVO">
		SELECT * FROM course
		ORDER BY no ASC
	</select>
	<select id="questionAllData" resultType="com.sist.web.vo.QuestionVO">
		SELECT * FROM exam_question
		ORDER BY no ASC
	</select>
</mapper>